/* Show title of unread tabs with red and italic font */
.tab.unread .label {
  font-style: italic !important;
}


/* Change tab height */  
:root {
  --tab-height: 18px !important;
}
.tab {
  height: var(--tab-height) !important;
}


/* Less visible tab dividers. 
   A black border with a very low alpha slightly darkens any color. */
.tab {
  border: solid 1px #00000012; 
}


/* As little space before the tab name as possible.
   The fold/unfold icon is not affected. */
.tab:not(.pinned) {
  padding-left: 0px !important; /* !important is required when there are enough tabs to cause a scrollbar */
}

.tab:hover {
  background: #89aBd9 !important;
  text-decoration: underline;
  opacity: 1;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: "🕶";
}
