@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide horizontal tab bar */
#TabsToolbar {
    visibility: collapse !important;
}


/*[>Collapse in default state and add transition<]*/
/*#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {*/
  /*overflow: hidden;*/
  /*min-width: 10px;*/
  /*max-width: 10px;*/
  /*transition: all 0.2s ease;*/
  /*border-right: 1px solid #0c0c0d;*/
  /*z-index: 2;*/
/*}*/

/*[>Expand to 260px on hover<]*/
/*#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,*/
/*#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {*/
  /*min-width: 260px !important;*/
  /*max-width: 260px !important;*/
/*}*/
